<?xml version="1.0" encoding="UTF-8"?>

<module>
	<id>com.inductiveautomation.sdk.examples.sfc</id>
	<name>SFC Example</name>
	<description></description>
	<license>license.html</license>
	<documentation>index.html</documentation>
	<version>1.0.0.0</version>
	<requiredignitionversion>7.7.0</requiredignitionversion>
	<requiredframeworkversion>6</requiredframeworkversion>
	

		<!-- Add the dependencies for each scope -->
		<depends scope="G">com.inductiveautomation.sfc</depends>
		<depends scope="D">com.inductiveautomation.sfc</depends>
		<depends scope="C">com.inductiveautomation.sfc</depends>


		<!-- Load in our jars for each scope -->
		<jar scope="D">sfc-example-designer.jar.pack.gz</jar>
		<jar scope="DC">sfc-example-client.jar.pack.gz</jar>
		<jar scope="G">sfc-example-gateway.jar</jar>
		<jar scope="G">sfc-example-common.jar</jar>
		<jar scope="DC">sfc-example-common.jar.pack.gz</jar>


		<!-- Tell the Gateway and/or Designer where to find the hooks -->
		<hook scope="G">SfcExampleGatewayHook</hook>
		<hook scope="C">SfcExampleClientHook</hook>
		<hook scope="D">SfcExampleDesignerHook</hook>

</module>

